/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

:root {
	--theme-rounded-base: 24px;
}

.btn {
	@apply font-medium;
}

time {
	color: inherit !important;
	font-weight: inherit !important;
	font-size: inherit !important;
	background-color: inherit !important;
}
